{% extends 'base.html' %}

{% block content %}
    <h1>CUSTOM RSS</h1>
    <form method="POST" action="{% url 'parse_url' %}">
        {% csrf_token %}
        <input type="url" name="url" placeholder="Enter the URL for the RSS" required>
        <button type=submit>Add RSS</button>
    </form>
    <br>

	<h1>DISCOVER</h1>
	<ul>
        {% for rss in rsss %}
        <form>
            <li><p>TITLE : {{ rss.title }} </p>
            <p>DESC : {{ rss.description }}</p></li>
            <button type=submit>Subscribe</button>
        </form>
        {% empty %}
            <li>No posts available.</li>
        {% endfor %}
    </ul>
{% endblock %}